<div class="col-3">
    <h1>Songs</h1>
    <div class="row scroll">
      <div class="col-xs-12" *ngIf="songs">
        <a *ngFor="let song of songs" type="submit" (click)="selectSongHandler(song)" class="list-group-item clearfix">
          <div class="pull-left">
          <h4 class="list-group-item-heading">{{song.artist}} - {{song.name}}</h4>
          </div>
          <div class="pull-right">
            <img [src]="song.imgUrl" alt="song image" class="img-responsive">
          </div>
        </a>
      </div>
    </div>
</div>
  